<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - UNIZULU Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body class="auth-page auth-register">
    <div class="card">
        <h2>Register Account</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-group">
                <label>Full Name and Surname</label>
                <input type="text" name="full_name" required placeholder="Enter your name and surname">
            </div>
            <div class="form-group">
                <label>Staff / Student ID</label>
                <input type="text" name="username" required placeholder="Enter your nine digits staff/student ID" pattern="[0-9]{9}" title="Student or staff ID must be exactly 9 digits."
                    inputmode="numeric">
            </div>
            <div class="form-group">
                <label>Account Type</label>
                <select name="role" required>
                    <option value="" selected disabled>Select Role</option>
                    <option value="student">Student</option>
                    <option value="staff">Staff</option>
                    <option value="admin">System Administrator</option>
                </select>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
        <div class="links">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </div>
</body>
</html>